# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-10.15
  strategy:
    matrix:
      osx_64_cross_target_platformosx-64gfortran_version10.3.0libgfortran_version5.0.0:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version10.3.0libgfortran_version5.0.0
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-64gfortran_version11.2.0libgfortran_version5.0.0:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version11.2.0libgfortran_version5.0.0
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-64gfortran_version7.5.0libgfortran_version4.0.0:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version7.5.0libgfortran_version4.0.0
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-64gfortran_version9.4.0libgfortran_version5.0.0:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version9.4.0libgfortran_version5.0.0
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-arm64gfortran_version10.3.0libgfortran_version5.0.0:
        CONFIG: osx_64_cross_target_platformosx-arm64gfortran_version10.3.0libgfortran_version5.0.0
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-arm64gfortran_version11.1.0libgfortran_version5.0.0:
        CONFIG: osx_64_cross_target_platformosx-arm64gfortran_version11.1.0libgfortran_version5.0.0
        UPLOAD_PACKAGES: 'True'
      osx_arm64_gfortran_version10.3.0:
        CONFIG: osx_arm64_gfortran_version10.3.0
        UPLOAD_PACKAGES: 'True'
      osx_arm64_gfortran_version11.1.0:
        CONFIG: osx_arm64_gfortran_version11.1.0
        UPLOAD_PACKAGES: 'True'
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
        export IS_PR_BUILD="True"
      else
        export IS_PR_BUILD="False"
      fi
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)