# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-10.15
  strategy:
    matrix:
      osx_64_cross_target_platformosx-64gfortran_version11.0.0macos_machinex86_64-apple-darwin13.4.0target_platformosx-64:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version11.0.0macos_machinex86_64-apple-darwin13.4.0target_platformosx-64
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-64gfortran_version7.5.0macos_machinex86_64-apple-darwin13.4.0target_platformosx-64:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version7.5.0macos_machinex86_64-apple-darwin13.4.0target_platformosx-64
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-64gfortran_version9.3.0macos_machinex86_64-apple-darwin13.4.0target_platformosx-64:
        CONFIG: osx_64_cross_target_platformosx-64gfortran_version9.3.0macos_machinex86_64-apple-darwin13.4.0target_platformosx-64
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-arm64gfortran_version11.0.0macos_machinearm64-apple-darwin20.0.0target_platformosx-64:
        CONFIG: osx_64_cross_target_platformosx-arm64gfortran_version11.0.0macos_machinearm64-apple-darwin20.0.0target_platformosx-64
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-arm64gfortran_version7.5.0macos_machinearm64-apple-darwin20.0.0target_platformosx-64:
        CONFIG: osx_64_cross_target_platformosx-arm64gfortran_version7.5.0macos_machinearm64-apple-darwin20.0.0target_platformosx-64
        UPLOAD_PACKAGES: 'True'
      osx_64_cross_target_platformosx-arm64gfortran_version9.3.0macos_machinearm64-apple-darwin20.0.0target_platformosx-64:
        CONFIG: osx_64_cross_target_platformosx-arm64gfortran_version9.3.0macos_machinearm64-apple-darwin20.0.0target_platformosx-64
        UPLOAD_PACKAGES: 'True'
      osx_arm64_cross_target_platformosx-arm64gfortran_version11.0.0target_platformosx-arm64:
        CONFIG: osx_arm64_cross_target_platformosx-arm64gfortran_version11.0.0target_platformosx-arm64
        UPLOAD_PACKAGES: 'True'
    maxParallel: 8
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)